.about-us {
  background: url("images/about-us-image.jpg") no-repeat center center;
  text-align: center;
  color: #ffffff;
  padding: 100px 0;
}

.about-us .header-link a:before{
  content: "Watch more";
}

.about-us p{
  max-width: 700px;
  margin: 0 auto;
}

.about-us .about-us-info{
  padding: 50px 0;
  display: flex;
  justify-content: space-around;
}
.map img{
  max-width: 1343px;
  object-fit: cover;
}


.footer .footer-text{
  display: flex;
  justify-content: space-between;
  padding: 20px 29px 20px 18px;
}

.footer .text-footer-left{
  align-self: center;
}

.footer .text-footer-right{
  display: flex;
  align-items: center;
}

.footer .text-footer-right a{
  margin-left: 10px;
  position: relative;
}

.text-footer-right .text-footer-face, .text-footer-twit, .text-footer-link, .text-footer-goog{
  width: 36px;
  height: 36px;
}

.text-footer-right .text-footer-face{
  background: url("images/blog-face-befofe.png") no-repeat center center;
}

.text-footer-right .text-footer-twit{
  background: url("images/blog-twit-before.png") no-repeat center center;
}

.text-footer-right .text-footer-link{
  background: url("images/blog-link-before.png") no-repeat center center;
}

.text-footer-right .text-footer-goog{
  background: url("images/blog-google-before.png") no-repeat center center;
}

.text-footer-right .text-footer-face:before, .text-footer-twit:before, .text-footer-link:before, .text-footer-goog:before{
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  transition: opacity 0.5s;
}

.text-footer-right .text-footer-face:before{
  background: url("images/blog-face.png") no-repeat center center;
}

.text-footer-right .text-footer-twit:before{
  background: url("images/blog-twit.png") no-repeat center center;
}

.text-footer-right .text-footer-link:before{
  background: url("images/blog-link.png") no-repeat center center;
}

.text-footer-right .text-footer-goog:before{
  background: url("images/blog-google.png") no-repeat center center;
}

.footer .text-footer-right a:hover:before{
  opacity: 0;
}

.footer .text-footer-left a{
  text-decoration: none;
  color: #666666;
}
.footer .text-footer-left a:hover{
  text-decoration: underline;
}
